<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Application</title>
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}"/>
</head>
<body>
    <h1>Welcome to my App</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque vel reiciendis fugit esse recusandae ullam. Assumenda magnam odit quia consectetur? Perferendis, quas. Odit, voluptatum magni! Numquam obcaecati blanditiis dolor earum!</p>
</body>
</html>